// Colors
$primary: #8D332F;
$background: #FFFFFF;
$secondary: #A6A6A6;
$accent: #246D2D;
$success: #22c55e;
$link: #368AF8;
$warning: #f59e0b;
$error: #ef4444;


// Text colors
$text-on-primary: #FFFFFF;
$text-on-secondary: #000000;
$text-on-accent: #FFFFFF;
$text-accent: #8D332F;
$text-dimmed: #7E7E7E;
